html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  text-align: center;
  background-color: white;
  color: black;
}

nav {
  height: 30px;
  background-color: black;
}
nav h1 {
  margin: 0px;
  padding: 4px;
  font-size: 14pt;
  color: white;
}

section.accounts {
  padding: 4px;
}

.link {
  color: #fff;
}

.taccount {
  float: left;
  border: 1px solid black;
  padding: 4px;
  width: 200px;
  min-width: 150px;
  min-height: 150px;
  margin: 4px;
  border-radius: 4px;
  box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.25);
}

.taccount h4 {
  margin: 0px;
  text-align: center;
  font-size: 10pt;
  padding-bottom: 4px;
}
.account_type {
  display: inline;
  font-size: 8pt;
  border-radius: 4pt;
  color: #333;
  padding: 2px 4px 2px 4px;
}

.taccount .lines {
  font-size: 10pt;
  border-top: solid 1px black;
}
.taccount .lines .line {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  text-align: left;
}
.taccount .lines .line.selected {
  /*animation: fadeIn 0.1s;*/
  background-color: #EEEEEE
}
/*
@keyframes fadeIn {
  0% { opacity: 0; background-color: #333; color: #FFFFFF }
  100% { opacity:1; color: #000000; background-color: #EEEEEE}
}
*/

.taccount .lines div.debit{
  padding-right: 4px;
  text-align: right;
  border-right: solid 1px black;
}
.taccount .lines div.credit{
  padding-left: 4px;
  text-align: left;
}

.taccount .lines .line .linestart {
  text-align: left; 
}
.taccount .lines .line .lineend {
  text-align: right;
}
.taccount .lines .line .note {
  display: none; /* TODO hover display notes */
}

.taccount .lines .balance {
  border-top: solid 1px black;
  display: grid;
  grid-template-columns: 50% 50%;
}
.taccount .lines .balance div {
  font-weight: bold;
}

.account_type_A { background-color: lightgreen; }
.account_type_CE { background-color: lightgreen; }
.account_type_L { background-color: lightblue; }
.account_type_CL { background-color: lightblue; }
.account_type_E { background-color: orange; }


.transactions .txn_log {
  border-top: 1px solid black;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-top: 8px;
  height: 60px;
}

.transactions h4 {
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
  margin: 0px;
}

.txn_log .txn {
  font-size: 8pt;
  margin: 4px;
  float: left;
  padding: 4px;
  border-radius: 2pt;
  background-color: #999;
  color: #333;
  min-width: 20px;
  cursor: pointer;
}
.txn_log .txn.selected {
  background-color: black;
  color: white;
}
.txn_log .txn.after {
  background-color: #eee;
  color: #999;
}

.txn_log .txn.bb {
  font-weight: bold;
}
.txn_log .new_txn {
  background-color: cornflowerblue;
  color: white;
}

.transaction_detail {
  position: fixed;
  min-width: 400px;
  bottom: 60px;
  left: 0px;
  font-size: 10pt;
  border-top: solid 1px black;
  border-right: solid 1px black;
  padding: 10px 10px 20px 10px;
  z-index: 1000;
  background-color: white;
}

.transaction_detail h4 {
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 12pt;
}

.transaction_detail .header div{
  text-align: center;
  font-weight: bold;
}
.transaction_detail .header div:nth-child(1){
  text-align: left;
  border-left: none;
}
.transaction_detail .header div:nth-child(4){
  text-align: left;
}
.transaction_detail .line {
  text-align: left;
  margin: 4px;
  display: grid;
  grid-template-columns: 40% 15% 15% 20% 10%;
  gap: 4px;
}

.transaction_detail .line .debit {
  text-align: center;
  border-left: 1px solid #eee;
  padding-left: 4px;
}
.transaction_detail .line .credit {
  text-align: center;
  border-left: 1px solid #eee;
}
.transaction_detail .line .notes {
  text-align: right;
  border-left: 1px solid #eee;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.modal {
  position: fixed;   
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content  {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin: 60px auto;
  max-width: 400px;
}

.txn_add {
  text-align: left;
  position: relative;
}

.txn_add .lines .line {
  display: grid;
  grid-template-columns: 40% 15% 15% 20% 10%;
  gap: 4px;
  padding: 4px;
}

.modal-content .close {
  float: right;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

